@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Web
@rendermode @(new InteractiveServerRenderMode())


<button @onclick="UpdateValueAsync">Update Me</button>

@code {
    [Parameter]
    public string Value { get; set; }
    
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
    
    [Parameter]
    public Expression<Func<string>> ValueExpression { get; set; }

    public async Task UpdateValueAsync()
    {
        Value = DateTime.Now.ToString();
        await ValueChanged.InvokeAsync(Value);
    }
}
