@inherits LayoutComponentBase

<div class="container">
    <header>
        <h1>Demo header</h1>
    </header>
    <nav>
        <ul>
            <li>Demo menu</li>
            <li>Demo menu</li>
        </ul>
    </nav>
    <main>
        @Body   
    </main>
    <footer>
        <p>
            Demo footer
        </p>
    </footer>
</div>
