@using Microsoft.AspNetCore.Components.Web
@rendermode @(new InteractiveServerRenderMode())

<button @attributes="Attributes"
        @onclick="Click"
        disabled="@isDisabled">Click Me!</button>

@code {
    private bool isExecuting = false;
    private bool isDisabled => isExecuting;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? Attributes { get; set; }
    
    [Parameter]
    public EventCallback OnClick { get; set; }

    private async Task Click()
    {
        if (isExecuting)
        {
            return;
        }

        isExecuting = true;
        await InvokeAsync(StateHasChanged);
        await OnClick.InvokeAsync();
        isExecuting = false;
    }

}
