@page "/MyButtonDemo"
<h3>MyButtonDemo</h3>

<MyButton/>
<MyButton class="btn btn-outline-primary"/>
<MyButton class="btn btn-primary" style="padding: 10px; margin: 10px;"/>
<MyButton disabled class="btn btn-primary" style="padding: 10px; margin: 10px;"/>

@code {
    
}
