<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorIntServerDemo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        
        <!-- Demos Folder -->
        <div class="nav-item">
            <NavLink class="nav-link" href="/RazorSyntaxDemo">
                Razor Syntax Demo
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/routing-demo">
                Routing demo
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/routing-demo/1234">
                Routing demo Id = 1234
            </NavLink>
        </div>
        
        <div class="nav-item ">
            <NavLink class="nav-link" href="/routing-demo/user/jan">
                Routing demo Name = Jan
            </NavLink>
        </div>
        
        <!-- 404 ERROR
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/routing-demo/videos/23">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Routing demo categorid
            </NavLink>
        </div>
        -->
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/routing-demo/videos/23/234">
                Routing demo categorid videoid
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/routing-demo/?FirstName=Jan&LastName=Kowalski">
                Routing demo query parameters
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/routing-demo/CodeBehind">
                Routing demo CodeBehind
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/parameterdemo">
                Parameter Demo
            </NavLink>
        </div>   
        <div class="nav-item">
            <NavLink class="nav-link" href="/parameterdemo/?Email=jan@jan.com">
                Parameter Demo Email
            </NavLink>
        </div>   
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/ServicesDemo">
                Services demo
            </NavLink>
        </div>   
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/GenericListDemo">
                Generic List Demo
            </NavLink>
        </div>   
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/admin">
                Admin demo
            </NavLink>
        </div>   
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/RouteAttributeDemo">
                Route adttr demo
            </NavLink>
        </div>  
       
        <div class="nav-item">
            <NavLink class="nav-link" href="/MyButtonDemo">
                My button demo
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/ProductListDemo">
                Product List Demo
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/AdminPanelDemo">
                Admin panel demo
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/DemoLayout">
                Demo Layout
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/UserDemo">
                User demo layout
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/CounterDemo">
                Counter Demo
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/CounterWithButtonDemo">
                Counter with button 
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/DataBindingDemo">
                Data binding Demo
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/BindingDataDemo">
                bindign data demo
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="/CascadeDemo">
                Cascade demo
            </NavLink>
        </div>
        
    </nav>
</div>

